html {
  text-align: center;
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

code {
  max-width: 30rem;
  background-color: lightgray;
  border-radius: 2px;
  display: inline-block;
  padding: 1rem;
  text-align: left;
  white-space: pre-wrap;
}

.cell {
  margin: -1px;
  max-width: 30px;
  max-height: 30px;
  border: 2px white solid;
  border-radius: 0;
  background-color: lightgray;
}
.cell.active {
  background-color: black;
}
button:hover {
  background-color: grey;
}

input {
  text-align: center;
  background-color: whitesmoke;
  border-radius: 5px;
  border: solid 1px grey;
  padding: 5px;
  width: 3rem;
  margin: 1rem;
}
.resizer {
  margin: 2rem;
  display: flex;
  justify-content: center;
}
.resizer div {
  max-width: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
