html {
  text-align: center;
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  padding: 2rem;
}

code {
  max-width: 30rem;
  background-color: lightgray;
  border-radius: 2px;
  display: inline-block;
  padding: 1rem;
  text-align: left;
  white-space: pre-wrap;
}

button {
  margin: 1rem;
  background-color: #42cdef;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.5rem;
  font-weight: bold;
}

.cell {
  margin: 1px;
  padding: 1rem;
  border-radius: 0;
  background-color: lightgray;
}
.cell.active {
  background-color: black;
}
button:hover {
  background-color: grey;
}
